<h2>Todos!</h2>

<form [ng-form-model]="form" (submit)="form.valid && saveOne()" novalidate class="form-inline">
  <input ng-control="id" type="hidden">
  <div class="form-group has-feedback" [class.has-error]="form.touched && !form.controls.title.valid">
    <input ng-control="title" autofocus class="form-control" placeholder="Title...">
  </div>
  <button (click)="resetForm()" type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    Clear
  </button>
  <button [disabled]="!form.valid" class="btn btn-primary">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    {{form.controls.id.value ? 'Update' : 'Create' }}
  </button>
</form>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Created At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ng-for="#todo of todos | customOrderBy: ['status', '-createdAt']" (click)="selectOne(todo)">
      <td>{{ todo.title }}</td>
      <td>{{ todo.status }}</td>
      <td>{{ todo.createdAt | date}}</td>
      <td>
        <button (click)="removeOne($event, todo)" class="btn btn-default">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>